// reset.css
* {
  box-sizing: border-box;
}
body{
  margin:0
}
// global.css
.bl-card {
  border-radius: 4px;
  border: 1px solid #ebeef5;
  background-color: #fff;
  // box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
}
.bl-card-shadow{
  border-radius: 4px;
  border: 1px solid #ebeef5;
  background-color: #fff;
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .1);
}
body{
	background-color: #f4f4f4;
	padding:10px;
}
